<h1>HUB Page</h1>

<div class="disconnect-container">
  <b>Login: {{ login() }}</b>
  <button (click)="onDisconnect()">Disconnect from Webserver</button>
</div>

<div>
  <button [disabled]="inQueue() || queueDisabled()" (click)="onEnterQueue()">Enter queue</button>
  <button [disabled]="!inQueue() || queueDisabled()" (click)="onLeaveQueue()">Leaves queue</button>
  <button [disabled]="!inAGame()" (click)="onRejoinGame()">Rejoin game</button>
</div>

@if (hasProposal()) {
<div class="proposal-container">
  <span>You have a proposal !!!</span>
  <button (click)="onAcceptProposal()" [disabled]="proposalAnswered()">Accept</button>
  <button (click)="onDeclineProposal()" [disabled]="proposalAnswered()">Decline</button>
</div>
}
