<h1>HUB Page</h1>
<h3>Login: {{ login() }}</h3>

<div>
  <button [disabled]="inQueue() || queueDisabled()" (click)="onEnterQueue()">Enter queue</button>
  <button [disabled]="!inQueue() || queueDisabled()" (click)="onLeaveQueue()">Leaves queue</button>
  <button (click)="onRejoinGame()" disabled>Rejoin game</button>
</div>

@if (hasProposal()) {
<div class="proposal-container">
  <span>You have a proposal !!!</span>
  <button (click)="onAcceptProposal()" [disabled]="proposalAnswered()">Accept</button>
  <button (click)="onDeclineProposal()" [disabled]="proposalAnswered()">Decline</button>
</div>
}
