@font-face {
  font-family: 'Arimo';
  src: url('./arimo/Arimo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('./arimo/Arimo-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Arimo';
  src: url('./arimo/Arimo-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Arimo';
  src: url('./arimo/Arimo-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('./arimo/Arimo-MediumItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Arimo';
  src: url('./arimo/Arimo-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('./arimo/Arimo-SemiBold.ttf') format('truetype');
  font-weight: 650;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('./arimo/Arimo-SemiBoldItalic.ttf') format('truetype');
  font-weight: 650;
  font-style: italic;
}

@font-face {
  font-family: 'Cousine';
  src: url('./cousine/Cousine-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cousine';
  src: url('./cousine/Cousine-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cousine';
  src: url('./cousine/Cousine-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cousine';
  src: url('./cousine/Cousine-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}